.landing {
    display: flex;
    flex-direction: column;
    background-color: #F9FAFB;
    padding: 67px 97px 0 97px;
}

.heading > p {
    font-size: 44px;
    font-weight: 900;
    color: #000000
}

.alliances {
    margin: 73px 0 56px 0;
}

.alliances > p {
    margin-bottom: 23px;
    font-weight: bold;
    font-size: 26px;
    color: #192024;
}

.alliance-list {
    display: flex;
    flex-direction: row;
    margin-right: 24px;
    align-items: center;
}

label {
    font-size: 14px;
    font-weight: normal;
    color: #192024;
}

input {
    margin-right: 10px;
    width: 20px;
    height: 20px
}

.alliance-container {
    display:flex;
}

